@import "base/colors";
@import "base/reset";
@import "base/typography";
@import "abstracts/mixins";

body {
  color: $color2;
  font-family: $sans-serif;
}

.menu {
  @include spacing(1em, 2em);
  background-color: $color1;
}

ul {
  list-style-type: none; //da nemamo bullete
  li {
    display: inline; //da budu jedan do drugoga
  }
}

@include linx($color4, $color3, $color2, red); //$link, $visit, $hover, &active