* {
  margin: 0;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-size: 48px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: rgb(68, 69, 68);
}

.button-group {
  font-size: 0;
}

.button-group button {
  font-size: 16px;
  font-weight: bold;
  border: 1px solid;
  color: rgb(68, 69, 68);
  background-color: rgb(204, 207, 204);
  padding: 10px 24px;
  cursor: pointer;
}

.button-group button:not(:last-child) {
  border-right: none;
}

.button-group button:disabled {
  background-color: rgb(68, 69, 68);
  color: rgb(204, 207, 204);
}

.button-group button:not(:disabled):hover {
  background-color: rgb(173, 175, 173);
}

#section-todo {
  border: 1px solid rgb(68, 69, 68);
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgb(173, 175, 173);
  width: 60%;
  margin: 50px auto 50px auto;
}

#input-add {
  width: 30%;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid;
  color: rgb(68, 69, 68);
  background-color: rgb(204, 207, 204);
  padding: 10px 24px;
  cursor: pointer;
}

#section-input {
  display: flex;
}

#input-text {
  width: 70%;
  text-align: center;
  border: 1px solid rgb(68, 69, 68);
}

#input-text:focus {
  outline: none;
}

#input-add:hover {
  background-color: rgb(173, 175, 173);
}

.button-clear-completed {
  border: 0;
  color: rgb(68, 69, 68);
  background-color: white;
  margin-top: 20px;
  float: right;
}

#button-clear-completed:hover {
  font-weight: bold;
  cursor: pointer;
}

#section-clear-completed {
  width: 60%;
  margin: auto;
}

.ul-todo li {
  list-style-type: none;
  font-weight: bold;
  color: rgb(68, 69, 68);
}

#section-todo ul {
  padding-left: 0;
}
