* {
    margin: 0;
    box-sizing: border-box;
  }
  body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .wrapper {
    border: 1px dashed #666;
    padding: 1em;
    min-height: 100vh;
  }
  
  .wrapper div {
    background: #eee;
    border: 1px solid #666;
    padding: 1em;
    text-align: center;
  }
  
  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .flex-item{
    -ms-flex-preferred-size: 18%;
    flex-basis: 18vw;
  }