* {
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    border: 1px dashed #666;
    min-height: 100vh;
    padding: 1em;
}

.flex-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.flex-item {
    border: 1px solid #666;
    text-align: center;
    flex-basis: 18vh;
    padding: 1em;
    background-color: #eee;

}
