$sans-serif: tahoma, verdana, sans-serif;
$serif: georgia, "times new roman", serif;
$mono: "courier new", Courier;

$font-size-base: 1rem;
$font-size-sm: 0.875rem;
$font-size-h1: 2.25rem;
$font-size-h2: 2rem;

$line-height-base: 1.5;