body {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color: #333;
}

h1 {
  text-align: center;
}

div {
  background-color: #f93;
}

.width1 {
  width: 50%;
}

.width2 {
  width: 500px;
}

.width3 {
  width: 25em;
}

.height1 {
  height: 50%;
}

.blue {
  background-color: #ccf;
}
