* {
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  }

  header, footer, main, article, aside, section {
    border: 1px solid #ccc;
    padding:1em;
  }

  header, footer {
    background-color: #ccc;
    height: 10vh;
  }

  main {
    display: flex;
    margin: auto;
    justify-content: space-between;
    min-height: 80vh;
  }

  aside {
    flex-basis: 32%;
  }

  section {
    flex-basis: 66%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
  }

  article {
    width:49% ;
    flex-basis: 24%;
  }