* {
 box-sizing:border-box 
}

.container {
  display: flex;
  padding: 2%;
  border: 2px dotted #333;
  height: 600px;
  justify-content: space-around;
  gap: 1em;
  flex-flow:row;
 }
 

 .item {
  flex-grow: 1;
  border: 2px solid #333;
  text-align: center;
  background-color:gainsboro;
 }

 .double {
  flex-grow: 2;
  border: 2px solid #333;
  text-align: center;
  background-color:gainsboro;
 }

 


 
 