body {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color: rgb(51, 51, 51);
  text-align: justify;
  margin: 0em;
}
div {
  background-color: rgb(241, 241, 241);
}
.div1 {
  border: 5px solid rgb(95, 95, 95);
  padding: 32px;
  margin: 2em auto;
  width: 18.5em;
}
.div2 {
  border: 5px dashed rgb(102, 102, 102);
  padding: 32px 64px;
  margin: 2em 0 2em auto;
  width: 25%;
}
.div3 {
  border-right: double 8px rgb(131, 130, 130);
  padding: 5px 20px 30px 50px;
  margin: 2em auto 2em 0;
  width: 30em;
}
.div4 {
  border-top: dashed 4px rgb(146, 146, 146);
  border-bottom: dotted 6px rgb(59, 59, 59);
  padding: 10px;
  margin: auto;
  width: 80%;
}
