body{
    font-family: tahoma;
    background-color: #ddd;
    font-size: 16px;
    color: #333;
 /* background-image: url(butterfly.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 25%;
    background-color: #ddd; */
    background: url(butterfly.png) center/25% no-repeat fixed #ddd ;
}
