* {
    margin: 0;
    box-sizing: border-box;
  }
  body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
  }
  header,
  footer,
  main,
  article,
  aside,
  section {
    border: 1px solid #ccc;
    padding: 1em;
  }
  header,
  footer {
    background: #ccc;
    height: 10vh;
  }
  main {
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto;
    min-height: 80vh;
  }
  aside {
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
  }
  section {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
        flex-basis: 66%;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  
  article {
    -ms-flex-preferred-size: 24%;
        flex-basis: 24%;
    width: 49%;
  }