body {
    font-family: Tahoma, sans-serif;
    color: #ccc;
    font-size: 16px;
    background: url(fire.png) center 30%/18% no-repeat fixed,
                url(pattern.png),
                url(blossom.jpg) center no-repeat fixed;
}

h1 {
    background: #333;
    text-align: center;
}