#loading_spinner {
    display: none;
    width: 50px;
    height: 50px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid black;
    margin: 50px auto;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#empty_search_message {
    display: none;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 10px;
}

hr {
    border: 1px solid #ccc;
    margin: 20px 0;
}

#input_search {
    padding: 10px;
    font-size: 1em;
}

#empty_search_message {
    color: #ff6347;
    font-size: 1.2em;
    margin: 20px 0;
}

#lista {
    list-style-type: none;
    padding: 0;
}

#lista li {
    background-color: #f5f5f5;
    padding: 10px;
    margin: 5px auto;
    width: 40%;
    border-radius: 5px;
}
