h1 {
  background-color: #333;
  text-align: center;
  color: #ddd;
}

body {
  background:   
  url(fire.png) center 30%/20% no-repeat fixed,
  url(pattern.png), 
  url(blossom.jpg) center / cover no-repeat fixed;
  font-family: Tahoma,  sans-serif;
  font-size: 16px;
  color: #ccc;
}

