* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100vh;
}

.flex-container > *, section { /* svi elementi koji su djeca flex-containera i section */
  padding: 10px;
}

header, footer {
  background-color: #999;
  flex: 0 100%;
  height: 10vh;
}

main { /* flex unutar flex-a */
  display: flex;
  flex-wrap: wrap;
  flex: 0 100%;
  height: 80vh;
  justify-content: space-between;
}

section {
  background-color: #eee;
  flex: 0 100%; /* flex: <flex-grow> <flex-basis> */
  height: 24%;
  /* 
    flex: <flex-grow> <flex-shrink> <flex-basis>
    flex: <flex-grow> <flex-shrink> ili flex: <flex-grow> <flex-basis>
    flex: <flex-grow> ili flex: <flex-basis>
  */
}



@media (min-width:480px) {
  section:not(:first-child, :last-child) {
    flex: 0 49%;
    height: 48%;
  }
}

/* 
@media (min-width:480px) {
  section:not(:first-child, :last-child) {
    height: 48%;
    flex: 0 49%;
  }
    section {
      height: 24%;
    } 
}
*/

@media (min-width:768px) {
  section {
    flex: 0 49%;
    height: 49%;
  }
}

@media (min-width:1024px) {
  section, section:not(:first-child, :last-child) {
    flex: 0 24%;
    height: 100%;
  }
}



