body{
  font-size: 16px;
  font-family:Tahoma, sans-serif;
  color: #333;
}
p {
  background-color: #eee;
  border: 1px solid #666;
  display: inline-block;
  box-sizing: border-box;
  padding: 1em;
  width: 33%;
  margin-left: -4px;
}