body {
  font-family: tahoma, sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0;
} 

ul {
  list-style-type: none;
  border: 1px solid #ccc;
  padding: 1em;
}

li {
  background-color: #ffc;
  display: inline-block;
  width: 19.5%;
}

p { 
  border: 1px solid #ccc;
  box-sizing: border-box; 
  display: inline-block;
  width: 25%;
  margin: 0;
  margin-left: -4px;
}

.li {
  margin-left: -4px;
}