* {
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  color: black;
}

ul {
  list-style: none;
}

#logo {
  font-size: 2em;
  font-weight: bold;
}

#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3vh;
  margin-left: 18vw;
  margin-right: 18vw;
}

#inner-header-container {
  display: flex;
}

#inner-header-container li{
  font-family: sans-serif;
  font-size: 1.125em;
  font-weight: bold;
  padding-left: 1em;
}

#section-title {
  margin-top: 34vh;
  text-align: center;
}

#section-title h1 {
  color: blue;
  font-family: sans-serif;
  font-size: 3em;
  font-weight: 700;
}

#section-title h3 {
  font-family: lato;
  font-size: 1.5em;
  margin-top: 2.5vh;
}

#section-title ul {
  display: flex;
  justify-content: center;
  margin-top: 7vh;
  padding: 0;
  font-family: lato;
  font-size: 1.15em;
  font-weight: bold;
}

#section-title ul li:nth-of-type(2) a {
  padding-left: 2.5vh;
  color: red;
  text-decoration-color: black;
}