* {
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  border: 1px dashed #666;
  padding: 1em;
}

.wrapper div {
  background-color: #eee;
  border: 1px solid #666;
  width: 150px;
  margin: 1em;
  padding: 1em;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: center;
}