* {
    margin: 0;
    box-sizing: border-box;
  }
  .wrapper {
    border: 1px dashed #666;
    padding: 1em;
  }
  

.wrapper div {
    background: #eee;
    border: 1px solid #666;
    padding: 1em;
    text-align: center;
}
  

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between; 
    height: 50vw;
    width: 100vw;
}
  
.flex-item {
    flex-basis: 32%;
    width: 24%;
    height: 150px;
    text-align: center;
      
      }


    

  
  
